<button (click)="login()">Login</button>

<button (click)="logout()">Logout</button>

<div class="row search-input-container">
    <input type="text" [formControl]="searchControl" class="search-input">
    <div id="results"></div>
</div>
<div class="books-container">
    <div *ngFor="let book of filteredBooks | async | orderbytitle" class="book-container">
        <div> {{book.volumeInfo.title | trimtitle}}
            <img [src]="book?.volumeInfo?.imageLinks?.smallThumbnail" />
        </div>
    </div>
</div>